<div class="w-full h-full flex justify-center items-center">
  <div class="flex flex-col justify-center">
    <h1 class="text-center">Oops ! Nothing to see here !</h1>
    <img alt="Error Gif" height="600" src="/assets/img/error.gif" width="800">
    <div class="flex justify-evenly">
      <button class="border shadow p-1 rounded bg-slate-800 text-white text-3xl" (click)="move()">Let's go back !</button>
      <button class="border shadow p-1 rounded bg-slate-800 text-white text-3xl" (click)="move(true)">Let's go Home !</button>
    </div>
  </div>
</div>
